@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.simplebar-scrollbar {
  background-color: #6193FF;
  border-radius: 10px; 

}

.simplebar-track {
  background-color: #E0E0E0; 
  border-radius: 10px;
}

#hero_bg {
  mask-image: url("assets/landing/hero_bg.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: bottom;
}

